<div>
  <app-cell
    *ngFor="let cell of cellArray; let i = index"
    [value]="cell.value"
    (click) = "openCell(i)"
  ></app-cell>
</div>
<hr>

<app-tries [tries]="this.tries"></app-tries>

<button (click)="getReset()">Reset</button>

